/*@font-face {
    font-family: 'SansationRegular';
    src: url('../fonts/Sansation_Regular-webfont.eot');
    src: url('../fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Regular-webfont.woff') format('woff'),
         url('../fonts/Sansation_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('../fonts/Sansation_Light-webfont.eot');
    src: url('../fonts/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Light-webfont.woff') format('woff'),
         url('../fonts/Sansation_Light-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('../fonts/Sansation_Bold-webfont.eot');
    src: url('../fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('../fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

html {
    width: 1280px;
    margin: auto;
}

body {
    width: 88%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
}

.bar {
    float: left;
    margin: 0 10px 0 10px;
}

.pie {
    float: left;
    margin: 0 10px 0 20px;
}

.chart-section {
    margin-bottom: 20px;
    height: 500px;
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
    box-shadow: 0px 3px 4px #CCCCCC;

}

.chart-history {
    margin-bottom: 20px;
    height: 380px;
    padding: 4px 25px;
    background-color: #efefef;
    border-radius: 5px;
    box-shadow: 0px 3px 4px #CCCCCC;
}

h1 {
    font-family: "Century Gothic";
    text-shadow: 0 -1px 0 #0C3854;
    margin: 0;
    color:#FFF;
}

h2 {
    font-family: "Century Gothic";
    text-shadow: 0 1px 0 #FFF;
    color:#154868;
}

#title {
    background: url("chamilo-logo.png") no-repeat scroll 930px 32px #2E75A3;
    margin: 6px 0px 28px;
    padding: 12px 25px 25px;
    height: 70px;
    font-size: 2em;
    border-radius: 5px;
    box-shadow: 0px 3px 4px #CCCCCC;
}